.App {
  text-align: center;
}

.headers {
  height: 10vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.content {
  margin-top: 2px;
  overflow: scroll;
  height: 80vh;
}

.profile_pic {
  border-radius: 50%;
}

.nav-bar {
  margin-bottom: 0;
  height: 10vh;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  align-items: center;
}

/* input {
  background: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

button {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
} */
