.headers {
  height: 10vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.content {
  overflow: scroll;
  height: 80vh;
}

.profile_pic {
  background-color: rgb(239, 239, 239);
  border-radius: 50%;
  margin-top: 6px;
}

.nav-bar {
  margin-bottom: 0;
  height: 10vh;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  align-items: center;
}

.post-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgb(239, 239, 239);
}

.post-profile-pic {
  margin: 3px;
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: double 1px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #833ab4, #fd1d1d, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.post-profile-pic img {
  background-color: white;
  border-radius: 50%;
}

.insta_icon {
  margin-top: 6px;
  margin-left: 7.5%;
  margin-right: 20%;
}

.loader {
  color: white;
  /* color: linear-gradient(#833ab4, #fd1d1d, #fcb045); */
}

.post-list-container {
  background-image: linear-gradient(48deg, #833ab4, #fd1d1d, #fcb045);
}
