.headers {
  height: 10vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  background-color: rgb(246, 246, 246);
  font-family: cursive;
}

.comment-header {
  height: 10vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  background-color: rgb(246, 246, 246);
}

.content {
  overflow: scroll;
  height: 80vh;
}

.profile_pic {
  border-radius: 50%;
  margin-top: 6px;
}

.nav-bar {
  margin-bottom: 0;
  height: 10vh;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: rgb(246, 246, 246);
}

.login-signup-footer {
  margin-bottom: 0;
  height: 10vh;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.post-profile-pic-container {
  margin: 3px;
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: double 1px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #833ab4, #fd1d1d, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.post-profile-pic {
  background-color: white;
  border-radius: 50%;
}

.header-profile-pic-container {
  margin-top: 6px;
  margin-left: 5%;
  width: 16.75%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: double 1px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #833ab4, #fd1d1d, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.header-profile-pic {
  background-color: white;
  border-radius: 50%;
}

.insta_icon {
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 20%;
}

.loader {
  color: white;
  /* color: linear-gradient(#833ab4, #fd1d1d, #fcb045); */
}

.post-list-container {
  background-image: linear-gradient(48deg, #833ab4, #fd1d1d, #fcb045);
}

a {
  text-decoration: none;
}

.login-signup-footer {
  background-color: rgb(246, 246, 246);
}

.login-signup-footer-1 {
  background: -webkit-linear-gradient(48deg, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-signup-footer-2 {
  background: -webkit-linear-gradient(48deg, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signout-button {
  margin-right: 5%;
}

.username {
  font-weight: bold;
}

.login-content-outer-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 7.5% 15px 0 15px;
  height: 90%;
  border-radius: 10px;
  background-image: linear-gradient(48deg, #833ab4, #fd1d1d, #fcb045);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.536);
}

.login-content-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: space-between;
  margin-top: -33%;
}

.login-content-inner-container input,
.login-content-inner-container button {
  text-align: center;
  border-radius: 16px;
  margin: 0 auto;
  border: 1px solid rgb(246, 246, 246);
}

.login-content-inner-container button {
  border: 0;
  background: white;
  margin: 10% auto;
  padding: 3px 0 3px 0;
  width: 80px;
  color: black;
  outline: none;
}

.input-box {
  display: block;
  border-style: none;
  width: 150px;
  padding: 5px 0 5px 0;
  transition: 0.25s;
}

.input-box:focus {
  border-style: none;
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-color: purple;
}

.login-content-inner-container button:focus {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.536);
  color: purple;
}

.signup-content-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: 7.5% 15px 0 15px;
  height: 90%;
  border-radius: 10px;
  background-image: linear-gradient(48deg, #833ab4, #fd1d1d, #fcb045);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.536);
}

.signup-content-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.signup-content-inner-container input,
.signup-content-inner-container button {
  text-align: center;
  border-radius: 16px;
  margin: 0 auto;
  border: 1px solid rgb(246, 246, 246);
}

.signup-content-inner-container button {
  border: 0;
  background: white;
  margin: 10% auto;
  padding: 3px 0 3px 0;
  width: 70px;
  color: black;
  outline: none;
}

.signup-content-inner-container button:focus {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.536);
  color: purple;
}

.signup-button-container {
  display: flex;
  justify-content: space-between;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.comment-view-wrapper {
  background: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: scroll;
}

.show {
  animation: slideInLeft;
  animation-duration: 0.5s;
}

.hide {
  animation: slideInRight;
  animation-duration: 0.5s;
  transform: translateX(100%);
  height: 100vh;
  width: 100%;
  position: fixed;
}

.hidden {
  display: none;
}

.comment-footer {
  height: 10vh;
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.3);
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-footer-textarea {
  background: rgb(255, 255, 255);
}

.comment {
  width: 90%;
  border: solid rgba(0, 0, 0, 0.7) 1px;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 3px;
}

.comment-input-section {
  height: 40px;
  border: solid rgba(0, 0, 0, 0.3) 2px;
  border-radius: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.comment-input-section input {
  width: 80%;
  height: 70%;
  border-style: none;
}

.comment-input-section input:focus {
  outline: none;
}

.search-button {
  border: solid grey 1px;
  background-color: white;
  color: blue;
  border-radius: 8px;
  margin-left: 2.5%;
  font-weight: bold;
}

.solid {
  opacity: 1;
}

.faded {
  opacity: 0.2;
}

.user-component-container {
  width: 100%;
  height: 20vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-post-list {
  display: flex;
  flex-wrap: wrap;
}

.user-profile-pic-container {
  margin: 3px;
  margin-left: 6px;
  padding: 3px;
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: double 1px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #833ab4, #fd1d1d, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.user-profile-pic {
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}

.user-info-container {
  display: flex;
  width: 60%;
  height: 100%;
  align-content: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.profile-input {
  font-size: 1em;
  width: 34px;
}
